* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Righteous', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7cdd3;
}

#gameBoard {
  max-width: 40.6rem;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.card {
  width: 9.375rem;
  height: 9.375rem;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.card_back,
.card_front {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
  backface-visibility: hidden;
}
.flip {
  transform: rotateY(180deg);
}
.card_front {
  background-color: #101c2c;
  transform: rotateY(180deg);
}
.card_back {
  color: #101c2c;
  background-color: #05c3ff;
  font-size: 1.8rem;
  /* display: none; */
}

#gameOver {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-size: 3, 125rem;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
}

#restart {
  padding: 20px;
  font-size: 20px;
  background-color: yellow;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}

@media (max-width: 900px) {
  #gameBoard {
    grid-template-columns: repeat(3, 1fr);
  }
  .card {
    width: 70%;
    height: 70%;
  }
}

@media (max-width: 900px) {
  #gameBoard {
    grid-template-columns: repeat(3, 1fr);
  }
  .card {
    width: 70%;
    height: 70%;
  }
}
